<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:href="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
<title>Add User</title>
</head>
<body>
	<br>
	<h1 class="text-primary" style="text-align: center">Employee
		Management System</h1>
	<br>
	<form th:action="@{/users/update/{id}(id=${user.id})}" th:object="${user}" method="post">
		<div class="mb-3 mt-3">

			<label for="userName" class="form-label">UserName:</label> <input
				type="text" class="form-control" id="userName" th:field="*{userName}"
				placeholder="Enter your userName" name="userName"> <label
				for="role" class="form-label">Role:</label> <input type="text"
				class="form-control" id="role" th:field="*{role}"
				placeholder="Enter your role" name="role"> <label
				for="email" class="form-label">Email:</label> <input type="email"
				class="form-control" id="email" th:field="*{email}"
				placeholder="Enter your email" name="email">
		</div>
		<div class="mb-3">
			<label for="pwd" class="form-label">Password:</label> <input
				type="password" class="form-control" id="passWord"
				th:field="*{passWord}" placeholder="Enter your password"
				name="passWord">
		</div>
		<div class="form-check mb-3">
			<label class="form-check-label"> <input
				class="form-check-input" type="checkbox" name="remember">
				Remember me
			</label>
		</div>
		<button type="submit" class="btn btn-primary">Add</button>
	</form>
</body>
</html>